.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    border-top: 2px #0000000d solid;
    background-color: #FAFAFA;
    &__icon-wrapper {
        width: 50%;
        text-align: center;
        cursor: pointer;
    }
    &__icon {
        width: 35px;
    }
}